<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM App Test">

<test name = "LoginTest">

  <classes>
  <class name="com.crm.testcases.LoginPageTest"/>
 
 </classes>

</test>
  
  
  
  
  <test thread-count="5" name="end to end test">
  
    <classes>
    
      <class name="com.crm.testcases.HomePageTest">
      
      </class>
    </classes>
  </test> <!-- end to end test -->
</suite> <!-- Free CRM App Test -->
